@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: 'Space Grotesk', sans-serif;
  --black: #000;
  --white: #fff;
}

html,
body {
  height: 100%;
  font-family: var(--font-main);
  background: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
}
